.all-posts {
    background-color: var(--blue);
    padding: 1.5em;
}

#posts-container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-bottom: 2em;                 
}

.post {
    display: flex;
    flex-direction: column;
    border: 2px solid #77878B;
    border-radius: 25px;
    background-color: #ffffff;
    width: 100%;
}

.post-heading {
    font-family: 'Open sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    width: 70%;
    margin: 0.3em;
}

.post-heading a {
    color: #000000;
    text-decoration: underline;
}

.post-img {
    margin: 0 auto;
}

.img {
    width: 100px;
    height: 100px;
    border-radius: 16px;
    object-fit: cover;
}

.first-section {
    display: flex;
    flex-direction: row;
    margin: 1em 1em 0em;
}

.second-section {
    display: flex;
    flex-direction: column;
}

.read-more {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #CFB39A;
    padding: 0.5em;
    width: 8em;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    margin: 0em 1.4em 1em;
}

.fa-solid.fa-right-long {
    font-size: 1.5em;
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 500px;
    height: 500px;
    margin: 1em auto;
}

.carousel-slides .carousel-item {
    display: none; 
    width: 100%;
    text-align: center;
}

.carousel-item img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.carousel-caption {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    bottom: 0;
    background: #ffffff;
    color: #000000;
    height: 200px;
    font-family: 'Open sans', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    margin: 0 auto;
    padding: 0em 2em;
    text-align: left;
}

.carousel-caption p {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5em;
    color: #000000;
    text-decoration: none;
    padding: 16px;
    background: #6F898E;
    cursor: pointer;
}

.carousel-control.prev {
    left: 0;
}

.carousel-control.next {
    right: 0;
}

.read-more-carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #CFB39A;
    padding: 0.5em;
    width: 8em;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    margin: 1em 0em;
}

@media (min-width: 600px) {    
    .post {
        width: 550px;
    }

    .img {
        width: 130px;
        height: 130px;
        border-radius: 16px;
    }    
}

@media (min-width: 800px) {
    .desktop-white-color {
        background-color: #ffffff;
        border-radius: 53px;
        padding: 1em;
        width: 80%;
        margin: 0 auto;
    }

    .all-posts {
        padding: 3em;
    }
}

@media (min-width: 900px) {
    .desktop-white-color {
        width: 75%;
    }

}